.icon{
    width: 10%;
    position: relative;
    left: 25px;
    /* background-color: yellow; */
}
.allLink{
    width: 80%;
    /* background-color: aqua; */
}
.kichuna{
    width: 10%;
    /* background-color: yellow; */
}